{
  "extends": [
    "standard",
    "plugin:node/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "import",
    "promise",
    "node"
  ],
  "rules": {
    "space-before-function-paren": 0,
    "comma-dangle": [
      2,
      "never"
    ],
    "no-var": "error",
    "semi": [
      2,
      "always"
    ],
    "no-console": "warn",
    "no-prototype-builtins": "off",
    "prefer-const": "error",
    "node/no-deprecated-api": [
      "error",
      {
        "ignoreModuleItems": [
          "crypto.createCipher",
          "crypto.createDecipher",
          "url.parse"
        ]
      }
    ]
  },
  "root": true
}
