{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "script"
  },
  "extends": "loopback",
  "env": {
    "es6": true
  },
  "rules": {
    "comma-dangle": "off",
    "no-var": "error",
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^_.*",
      "args": "all"
    }],
    "prefer-arrow-callback": "error"
  },
  "root": true
}
