environment:
  matrix:
    - nodejs_version: "8"
install:
  - ps: Install-Product node $env:nodejs_version
  - npm i -g npm@latest
  - npm ci
build: off
test_script:
  - node --version
  - npm --version
  - npm run test:all
version: "{build}"

notifications:
  - provider: Slack
    incoming_webhook:
      secure: ZTQ/7+Cn6aCb3HAZBd1U6QCtnNaFPT/0Ymp8V6NOOmibsQ40c2NELqQsXABotYMgRN7M6HKJXubabUqZVm/kOgWoU/xtUL7gPy6S8np7/ZI=
