<p>Hi <%= user %>!</p>
<p><b><%= client %></b> is requesting access to your account.</p>
<p>Requesting the following scopes: <b><%= scopes %></b></p>
<p>Do you approve?</p>

<form action="/oauth2/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionId %>" />
  <div>
    <input type="submit" value="Allow" id="allow" />
    <input type="submit" value="Deny" name="cancel" id="deny" />
  </div>
</form>
