<link href="/css/style.css" rel="stylesheet" type="text/css" />
<div class="main-container">
  <img src="/assets/eg-icon.svg" alt="Express Gateway Logo" />
  <form action="/oauth2/authorize/decision" method="post" class="dialog-form">
    <input name="transaction_id" type="hidden" value="<%= transactionId %>" />
    <p>Hi <%= user.firstname %>!</p>
    <p><b><%= client.name %></b> is requesting access to your account.</p>
    <p><b>Requesting Scopes:</b> <%= scope %></p>
    <p>Do you approve?</p>
    <div>
      <button type="submit" formmethod="POST" id="allow">Allow</button>
      <button type="submit" formmethod="POST" id="deny">Cancel</button>
    </div>
  </form>
</div>
