<link href="/css/style.css" rel="stylesheet" type="text/css" />
<div class="main-container">
  <img src="/assets/eg-icon.svg" alt="Express Gateway Logo" />
  <form action="/login" method="post" class="login-form">
    <div class="form-row">
      <label>Username:</label>
      <input type="text" name="username" /><br />
    </div>
    <div class="form-row">
      <label>Password:</label>
      <input type="password" name="password" />
    </div>
    <div class="form-row button-container">
      <button type="submit" formmethod="POST">Submit</button>
    </div>
  </form>
</div>
